.brand_shif {
  line-height: 1.9rem;
  padding: 0 0.5rem;
  background-color: #F2F2F2;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
}
.brand_shif .brand_nav a {
  font-size: 0.9rem;
  color: #020204;
}
.rand {
  line-height: 2rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid #C6C6C6;
  border-top: 3px solid #BFBFBF;
  background-color: #EEEEEE;
  font-size: 0.7rem;
  color: #7B3605;
}
.brand_list {
  background-color: #fff;
}
.brand_list li {
  line-height: 2rem;
  padding: 0.4rem;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}
.brand_list li a {
  display: block;
  font-size: 0.6rem;
  color: #000;
}
.brand_list li a .left {
  width: 1.625rem;
  float: left;
}
.brand_list li a .left .img_box {
  width: 1.125rem;
  height: 1.125rem;
  text-align: center;
  line-height: 1.125rem ;
  font-size: 16px;
  color: #fff;
  background-color: #C9C9C9;
}
.brand_list li a .info {
  overflow: hidden;
}
.brand_list li a .info .brand_title {
  font-size: 0.6rem;
  line-height: 0.7rem;
}
.brand_list li a .info .brand_info {
  font-size: 0.5rem;
  color: #979098;
  line-height: 1rem;
}
.brand_list li a i {
  position: absolute;
  right: 0.1rem;
  top: 0.8rem;
  font-size: 0.9rem;
  color: #91A3A3;
}
.brand_rank .title {
  line-height: 2rem;
  padding-left: 0.5rem;
  background-color: #F3F3F3;
  border-top: 3px solid #C4C4C4;
  border-bottom: 1px solid #C5C5C5;
  font-size: 0.65rem;
  color: #893F24;
}
.brand_rank .brand_pro li {
  background-color: #fff;
  border-bottom: 1px solid #EBEBEB;
}
.brand_rank .brand_pro li a {
  display: block;
  padding: 0.5rem;
  font-size: 0.6rem;
  color: #000;
}
.brand_rank .brand_pro li a .img_box {
  float: left;
  width: 5.5rem;
  height: 4.5rem;
}
.brand_rank .brand_pro li a .img_box img {
  width: 100%;
  height: 100%;
}
.brand_rank .brand_pro li a .info {
  overflow: hidden;
  padding-left: 0.5rem;
}
.brand_rank .brand_pro li a .info .info_top {
  line-height: 1rem;
  font-size: 0.5rem;
}
.brand_rank .brand_pro li a .info .price {
  margin-top: 1rem;
}
.brand_rank .brand_pro li a .info .price .fl {
  font-size: 0.55rem;
  color: #EC2E0E;
  font-weight: bold;
}
.brand_rank .brand_pro li a .info .price .fr {
  float: right;
}
.brand_rank .brand_pro li a .info .price .fr i {
  font-size: 0.8rem;
  color: #F4C600;
}
.brand_rank .brand_pro li a .info .other {
  margin-top: 0.3rem;
  font-size: 0.45rem;
  color: #ABB6D0;
}
.brand_rank .brand_pro li a .info .other span {
  margin-right: 0.4rem;
}
.comment {
  background-color: #fff;
}
.comment .title {
  line-height: 2rem;
  padding-left: 0.5rem;
  background-color: #F3F3F3;
  border-top: 3px solid #C4C4C4;
  border-bottom: 1px solid #C5C5C5;
  font-size: 0.65rem;
  color: #893F24;
}
.comment .detail li {
  padding: 0.5rem;
  border-bottom: 1px solid #E5E5E5;
}
.comment .detail li .pro .img_box {
  float: left;
  width: 5.5rem;
  height: 4.5rem;
}
.comment .detail li .pro .img_box img {
  width: 100%;
  height: 100%;
}
.comment .detail li .pro .info {
  overflow: hidden;
  padding-left: 0.5rem;
}
.comment .detail li .pro .info .info_top {
  color: #9CA0B5;
  line-height: 1rem;
  font-size: 0.6rem;
}
.comment .detail li .pro_comment {
  margin-top: 0.4rem;
  border: 1px solid #C5C5C5;
  border-radius: 0.25rem;
  padding: 0.3rem;
  font-size: 0.55rem;
  background-color: #F8F8F8;
  position: relative;
}
.comment .detail li .pro_comment .icon {
  width: 0.6rem;
  height: 0.6rem;
  border-top: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  position: absolute;
  left: 1.5rem;
  top: -0.3rem;
  transform: rotate(45deg);
}
.comment .detail li .pro_comment .com_top {
  line-height: 1.5rem;
}
.comment .detail li .pro_comment .com_top .user {
  color: #586330;
}
.comment .detail li .pro_comment .com_top .star i {
  font-size: 0.7rem;
  color: #F4C600;
}
.comment .detail li .pro_comment .com_top .date {
  float: right;
  color: #989DB0;
}
.comment .detail li .pro_comment .com_text {
  text-indent: 1rem;
  font-size: 0.5rem;
  color: #333333;
}
