.m_container .m_header {
  padding-left: 2.75rem;
}
.m_container .m_header .m_logo {
  width: 2.75rem;
  top: 0.8rem;
}
.m_container .m_header .m_logo a {
  color: #fff;
}
.m_container .m_header .m_title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  line-height: 2.5rem;
}
.discount_pro {
  background-color: #fff;
}
.discount_pro li {
  width: 49%;
  padding: 0.9rem;
  float: left;
  border-right: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  border-collapse: collapse;
}
.discount_pro li a {
  color: #A19BA2;
}
.discount_pro li p {
  margin: 0;
}
.discount_pro li .img_box {
  width: 7.75rem;
  height: 7.25rem;
}
.discount_pro li .img_box img {
  width: 100%;
  height: 100%;
}
.discount_pro li .des {
  font-size: 0.6rem;
  color: #000;
  font-weight: bold;
}
.discount_pro li .pro_price {
  font-size: 0.6rem;
  color: #FF7120;
  margin-top: 0.25rem;
}
.discount_pro li .pro_info {
  font-size: 0.5rem;
  text-align: center;
}
