.site_pro {
  background-color: #fff;
  padding: 0.25rem;
}
.site_pro li {
  line-height: 1.25rem;
  float: left;
  margin: 0.15rem;
  border: 1px solid #D4D4D4;
  background-color: #F4F4F4;
  vertical-align: middle;
}
.site_pro li a {
  display: block;
  padding: 0.3rem;
}
.site_pro li a .img_box {
  float: left;
  width: 0.4rem;
  height: 0.4rem;
}
.site_pro li a .img_box img {
  width: 100%;
  height: 100%;
}
.site_pro li a p {
  margin: 0;
}
.site_pro li a .info {
  overflow: hidden;
  padding-left: 0.2rem;
  font-size: 0.4rem;
  color: #241527;
}
